In [3]:
import pandas as pd

# 1. Откройте набор данных. Посмотрите на содержимое, выведя в содержимое нескольких строчек.

Импортируем данные:

In [4]:
data = pd.read_csv('mental_health_and_technology_usage_2024.csv')

Смотрим на содержимое строчек:

In [5]:
data.sample(5)

,User_ID,Age,Gender,Technology_Usage_Hours,Social_Media_Usage_Hours,Gaming_Hours,Screen_Time_Hours,Mental_Health_Status,Stress_Level,Sleep_Hours,Physical_Activity_Hours,Support_Systems_Access,Work_Environment_Impact,Online_Support_Usage
4847,USER-04848,36,Male,8.45,0.88,1.23,4.75,Excellent,Medium,6.39,0.58,Yes,Positive,Yes
625,USER-00626,52,Other,3.75,0.86,1.09,11.37,Fair,High,8.42,4.02,Yes,Neutral,No
5491,USER-05492,52,Other,5.44,2.58,0.28,9.46,Fair,High,8.34,9.28,Yes,Positive,Yes
4788,USER-04789,33,Female,11.58,7.73,3.03,5.00,Good,Low,6.65,7.40,Yes,Positive,Yes
9017,USER-09018,42,Other,1.73,3.57,0.65,8.82,Good,Low,5.59,9.91,No,Neutral,Yes

# 2. Посмотрите с помощью методов Pandas на количество строчек и столбцов, информацию о столбцах (info).

Количество строк в датасете:

In [6]:
data.shape[0]

10000

Количество столбцов в датасете:

In [7]:
data.shape[1]

14

Выведем информацию о столбцах:

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   User_ID                   10000 non-null  object
 1   Age                       10000 non-null  int64
 2   Gender                    10000 non-null  object
 3   Technology_Usage_Hours    10000 non-null  float64
 4   Social_Media_Usage_Hours  10000 non-null  float64
 5   Gaming_Hours              10000 non-null  float64
 6   Screen_Time_Hours         10000 non-null  float64
 7   Mental_Health_Status      10000 non-null  object
 8   Stress_Level              10000 non-null  object
 9   Sleep_Hours               10000 non-null  float64
 10  Physical_Activity_Hours   10000 non-null  float64
 11  Support_Systems_Access    10000 non-null  object
 12  Work_Environment_Impact   10000 non-null  object
 13  Online_Support_Usage      10000 non-null  object
dtypes: float64(6), int64(1), object(7)
memory usage: 1.1+ MB

# 3. Выведите название столбцов и сопоставьте им русские названия в текстовой ячейке.

Посмотрим на названия столбцов:

In [9]:
data.columns

Index(['User_ID', 'Age', 'Gender', 'Technology_Usage_Hours',
       'Social_Media_Usage_Hours', 'Gaming_Hours', 'Screen_Time_Hours',
       'Mental_Health_Status', 'Stress_Level', 'Sleep_Hours',
       'Physical_Activity_Hours', 'Support_Systems_Access',
       'Work_Environment_Impact', 'Online_Support_Usage'],
      dtype='object')

Сопоставим столбцам русские названия:

In [10]:
data = data.rename(columns={'User_ID': 'ID', 'Age': 'Возраст', 'Gender': 'Пол', 'Technology_Usage_Hours': 'Время_использования',
                            'Social_Media_Usage_Hours': 'Время_использования_социальных_медиа',
                            'Gaming_Hours': 'Время_в_играх', 'Screen_Time_Hours': 'Экранное_время',
                            'Mental_Health_Status': 'Статус_ментального_здоровья',
                            'Stress_Level': 'Уровень_стресса', 'Sleep_Hours': 'Время_сна',
                            'Physical_Activity_Hours': 'Время_физической_активности',
                            'Support_Systems_Access': 'Саппорт_систем_аксесс', 'Work_Environment_Impact': 'Ворк_энвайронмент_импакт',
                            'Online_Support_Usage': 'Онлайн_саппорт_юсадж'})

Проверим:

In [11]:
data.columns

Index(['ID', 'Возраст', 'Пол', 'Время_использования',
       'Время_использования_социальных_медиа', 'Время_в_играх',
       'Экранное_время', 'Статус_ментального_здоровья', 'Уровень_стресса',
       'Время_сна', 'Время_физической_активности', 'Саппорт_систем_аксесс',
       'Ворк_энвайронмент_импакт', 'Онлайн_саппорт_юсадж'],
      dtype='object')

# 4. Посмотрите описание (describe) числовых столбцов. Сделайте вывод о наборе по минимальному и максимальному значениям, по среднему значению, по значению квартилей.

Посмотрим описание числовых столбцов:

In [13]:
numerical = ['Возраст', 'Время_использования', 'Время_использования_социальных_медиа', 'Время_в_играх', 'Экранное_время', 'Время_сна', 'Время_физической_активности']
data[numerical].describe()

,Возраст,Время_использования,Время_использования_социальных_медиа,Время_в_играх,Экранное_время,Время_сна,Время_физической_активности
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,41.518600,6.474341,3.972321,2.515598,7.975765,6.500724,5.003860
std,13.920217,3.169022,2.313707,1.446748,4.042608,1.450933,2.905044
min,18.000000,1.000000,0.000000,0.000000,1.000000,4.000000,0.000000
25%,29.000000,3.760000,1.980000,1.260000,4.520000,5.260000,2.490000
50%,42.000000,6.425000,3.950000,2.520000,7.900000,6.500000,4.990000
75%,54.000000,9.212500,5.990000,3.790000,11.500000,7.760000,7.540000
max,65.000000,12.000000,8.000000,5.000000,15.000000,9.000000,10.000000

Теперь опишем данные по столбцам:

Возраст: Можно сказать, что всё в столбце хорошо, выбросов не видно, по квартилям, среднему и отклонениям тоже всё в норме, больших разбросов нет.

Время_использования: По данному столбцу тоже всё в порядке, однако, возможны некторые зашкаливающие значения, например время использования 12 часов.

Время_использования_социальных_медиа: В столбце всё хорошо, значения в норме, разброс тоже в норме.

Время_в_играх: В столбце всё хорошо, значения в норме, разброс тоже в норме.

Экранное_время: По данному столбцу тоже всё в порядке, однако, возможны некторые зашкаливающие значения, например время использования 15 часов - это очень много + это сильно больше 3 квартиля.

Время_сна: В столбце всё хорошо, значения в норме, разброс тоже в норме.

Время_физической_активности: В столбце всё хорошо, значения в норме, разброс тоже в норме.

# 5. Посмотрите описание (describe) категориальных / текстовых столбцов. Сделайте выводы.

Посмотрим описание категориальх столбцов:

In [20]:
categorical_or_text = ['Пол', 'Статус_ментального_здоровья', 'Уровень_стресса', 'Саппорт_систем_аксесс', 'Ворк_энвайронмент_импакт', 'Онлайн_саппорт_юсадж']

In [24]:
data[categorical_or_text].describe()

,Пол,Статус_ментального_здоровья,Уровень_стресса,Саппорт_систем_аксесс,Ворк_энвайронмент_импакт,Онлайн_саппорт_юсадж
count,10000,10000,10000,10000,10000,10000
unique,3,4,3,2,3,2
top,Other,Excellent,Medium,No,Negative,No
freq,3364,2518,3338,5006,3378,5013

Опишем столбцы:

Со столбцами, вроде, всё хорошо, что-то плохое не наблюдается.

# 6. Для категориальных признаков посмотрите на уникальные значения этих признаков.

Выведем уникальные значения по каждому из столбцов:

In [26]:
for i in categorical_or_text:
    print('{0}: uniques = {1}'.format(i, data[i].unique()))

Пол: uniques = ['Female' 'Male' 'Other']
Статус_ментального_здоровья: uniques = ['Good' 'Poor' 'Fair' 'Excellent']
Уровень_стресса: uniques = ['Low' 'High' 'Medium']
Саппорт_систем_аксесс: uniques = ['No' 'Yes']
Ворк_энвайронмент_импакт: uniques = ['Negative' 'Positive' 'Neutral']
Онлайн_саппорт_юсадж: uniques = ['Yes' 'No']

# 7. Попытайтесь выявить зависимости между психологическим состоянием ( Mental_Health_Status) и такими признаками как Gaming_Hours, Screen_Time_Hours, Sleep_Hours. Используйте группировку (по Mental_Health_Status - обязательно, по остальным признакам по желанию) и агрегацию данных.

Связь между Mental_Health_Status и Gaming_Hours:

In [52]:
data[['Статус_ментального_здоровья', 'Время_в_играх']].groupby('Статус_ментального_здоровья').agg({'Время_в_играх' : ['max', 'mean', 'median', 'min']})

                            Время_в_играх
                                      max      mean median  min
Статус_ментального_здоровья
Excellent                             5.0  2.542133   2.53  0.0
Fair                                  5.0  2.494956   2.51  0.0
Good                                  5.0  2.503596   2.51  0.0
Poor                                  5.0  2.521510   2.51  0.0

Связь между Mental_Health_Status и Screen_Time_Hours:

In [53]:
data[['Статус_ментального_здоровья', 'Экранное_время']].groupby('Статус_ментального_здоровья').agg({'Экранное_время' : ['max', 'mean', 'median', 'min']})

                            Экранное_время
                                       max      mean median   min
Статус_ментального_здоровья
Excellent                            15.00  7.949023   7.86  1.01
Fair                                 14.99  7.920964   7.94  1.00
Good                                 15.00  8.087707   8.02  1.00
Poor                                 15.00  7.944783   7.81  1.00

Связь между Mental_Health_Status и Sleep_Hours:

In [51]:
data[['Статус_ментального_здоровья', 'Время_сна']].groupby('Статус_ментального_здоровья').agg({'Время_сна' : ['max', 'mean', 'median', 'min']})

                            Время_сна
                                  max      mean median  min
Статус_ментального_здоровья
Excellent                         9.0  6.480175   6.50  4.0
Fair                              9.0  6.509289   6.54  4.0
Good                              9.0  6.497145   6.45  4.0
Poor                              9.0  6.516582   6.52  4.0

Теперь опишем зависимости по вариантам:

1. с игровым временем: видно, что выборка симметричная. Так как во всех категориях значения примерно одинаковые, то прямой зависимости не наблюдается;

2. с экранным временем: видно, что выборка симметричная. Так как во всех категориях значения примерно одинаковые, то прямой зависимости не наблюдается;

3. с временем сна: видно, что выборка симметричная. Так как во всех категориях значения примерно одинаковые, то прямой зависимости не наблюдается.